<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/signup.js" defer></script>
</head>
<body>
<body>
    <section>
        
        <form action="/req/login" method="post">
            <h1>Đăng nhập</h1>
            <div class="dialog-row">
                <label th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION}" class="text-center redText"></label>                   
            </div>
            <div class="inputbox">
                <ion-icon name="email-outline"></ion-icon>
                <input name="username" id="username"type="name" required>
                <label for="">Tên đăng nhập</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input name="password" type="password" id="password" required>
                <label for="">Mật khẩu</label>
            </div>
            <div class="register">
                <p><a href="/req/forgot-password-page">Quên mật khẩu ?</a></p>
            </div>
            <button>Đăng nhập</button>
            <div class="register">
                <p>Chưa có tài khoản ?<a href="/req/signup"> Đăng ký ngay!!</a></p>
            </div>
        </form>
    </section>
</body>
  